[submodule "MusicVisualizer/vendor/glfw3"]
	path = MusicVisualizer/vendor/glfw3
	url = https://github.com/glfw/glfw
[submodule "MusicVisualizer/vendor/spikeylog"]
	path = MusicVisualizer/vendor/spikeylog
	url = https://github.com/s1idewhist1e/spikeylog
[submodule "MusicVisualizer/vendor/glew"]
	path = MusicVisualizer/vendor/glew
	url = https://github.com/nigels-com/glew.git
